.image1 {

  width: 310px;
  height: 300px;
  max-width: 100%;
  position: relative;
}

    
.topnav  {
    color: black;
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 3px 10px;
    
}

.topnav a {
    color: black;
    text-decoration: none;
    padding: 50px;
}

.topnav a:hover {
    color: blue;
    text-decoration: none;
}
