.image1 {

  width: 350px;
  height: 300px;
  max-width: 90%;
  position: relative;
}

    
.topnav  {
    color: black;
    color: #333;
    text-align: center;
    text-decoration: none;
    
    
}

.topnav a {
    color: black;
    text-decoration: none;
    padding: 20px;
}

.topnav a:hover {
    color: blue;
    text-decoration: none;
}
